#main {
  position: absolute;
  height: calc( 100% - 88px);
  width: 100%;
  margin-top: 88px;
  font-family: 'Lato';
}

#map {
  top: 0;
  right: 355px;
  bottom: 0;
  left: 0;
  position: absolute;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 355px;
  padding: 16px;
}

.checkbox {
  display: inline-block;
}

.List-blocks > li {
  /*border-bottom: 1px solid #e5e5e5;*/
}
.button--small > a {
  padding: 10px;
  min-width: 90px;
}

.btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.columns-pane .list-group {
  min-height: 100px;
  max-height: calc(100vh - 500px);
  overflow: auto;
}

.download-pane {
}

.download-pane p {
  display: inline-block;
  position: relative;
  top: 2px;
}

.HeaderFixed--blue {
  background: #0090D7
}
a:hover {
  text-decoration: none;
}
.button--white a {
  color: #0090D7;
  background: #fff;
}
.desactive {
  opacity: .3;
}
.Number-circle {
  width: 20px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 10px;
  font-family: 'Lato';
  margin: 0 3px;
}

.glyphicon-unchecked, .glyphicon-check {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 3px;
}

.glyphicon-check:after {
  content: '\2713';
  position: absolute;
  color: #0090D7;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  left: 0;
  right: 0;
}
.list-group {
  font: 300 15px/22px Lato;
}
.list-group > li {
  margin-bottom: 10px;
}
.shadow-top {
  height: 40px;
  position: absolute;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%);
  z-index: 2;
  pointer-events: none;
}
.shadow-bottom {
  height: 40px;
  position: absolute;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
  z-index: 2;
  pointer-events: none;
}

.leaflet-draw {
  right: 24px;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 1000;
}

#modal.hidden {
  opacity:0;
}

.modal-inner {
  width: 45%;
  background: #fff;
  border-radius: 4px;
}
.text-info {
  font-size: 13px;
  position: absolute;
  right: 12px;
  bottom: 24px;
}

.icon-right {
  font-size: 17px;
  color: #7AB06B;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(images/icon-info.svg) no-repeat center center;
  opacity: .3;
  vertical-align: middle;
  margin-top: -3px;
  background-size: 13px;
}
.icon-right:hover {
  opacity: .8;
}

#infoWindow {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Lato';
  color: #fff;
  background: rgba(0, 0, 0, .8);
  border-radius: 4px;
  z-index: 1000;
  margin-top: -48px;
  margin-left: -90px;
  pointer-events: none;
  /*display:none;*/
}
#infoWindow:before {
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, .8);
  left: 85px;
  top: 40px;
}

#infoWindow.no-carot:before {
  display: none;
}

.tooltip {
  max-width: 200px;
}

.sidebar-cell {
  overflow: scroll;
}

.HeaderFixed {
  background-image: linear-gradient(to bottom, #2b6988 0%, #1f4b61 100%);
}

.HeaderFixed strong {
  font-size:28px;
}

.fill-dark {
  background: #2A6785;
}

.button {
    padding-right: 6px;
    padding-bottom: 6px;
}

.ListOptions>li {
  margin-bottom: 5px;
}

.u-vspace-xxl {
  margin-bottom: 20px;
}

.leaflet-container {
  background: rgba(26, 36, 66, 1);
}
/* SVG Stuff */
path {
  stroke: #8EB83F;
  fill: #8EB83F;
  stroke-opacity: 1;
  fill-opacity: 0.3;
}
