html,
body,
#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    padding-top: 50px;
}
#map {
    height: 100%;
}
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 12px;
}
.box {
    background: #444;
}
#sidebar h3 {
    display: inline-block;
    margin-top: 0;
    position: relative;
    top: 2px;
    margin-left: 7px;
}
#sidebar {
    padding-top: 15px;
    overflow: scroll;
    height: 100%;
}

.icon-right {
  font-size: 17px;
  color: #7AB06B;
  float: right;
  margin-top: 2px;
}

#infoWindow {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  background: #54698C;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  display:none;
}

.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.modal-header {
  color:white;
}

#twitter-widget-0 {
  position: relative !important; 
  top: 14px;
  left: 13px;
}

/*Custom Navbar from http://twitterbootstrap3navbars.w3masters.nl/*/

.navbar-custom {
    background-color: #1f4b61;
    border-color: #173848;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2b6988), to(#1f4b61));
    background-image: -webkit-linear-gradient(top, #2b6988, 0%, #1f4b61, 100%);
    background-image: -moz-linear-gradient(top, #2b6988 0%, #1f4b61 100%);
    background-image: linear-gradient(to bottom, #2b6988 0%, #1f4b61 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff2b6988', endColorstr='#ff1f4b61', GradientType=0);
}
.navbar-custom .navbar-brand {
    color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
    border-right: 1px solid #173848;
}
.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    border-left: 1px solid #173848;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #c0c0c0;
    background-color: #173848;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#173848), to(#23556f));
    background-image: -webkit-linear-gradient(top, #173848, 0%, #23556f, 100%);
    background-image: -moz-linear-gradient(top, #173848 0%, #23556f 100%);
    background-image: linear-gradient(to bottom, #173848 0%, #23556f 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff173848', endColorstr='#ff23556f', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #163646;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #173848;
    color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width: 767) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c0c0c0;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c0c0c0;
        background-color: #173848;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom .navbar-link:hover {
    color: #c0c0c0;
}

.infoArrow {
    display:none;
}

/* Arrow buttons from http://jsfiddle.net/shpoont/3cA4x/ */
.btn-arrow-right,
.btn-arrow-left {
  z-index: 100;
  float: right;
  position: relative;
  top: 19px;
  left: -43px;
}
.btn-arrow-right {
    padding-left: 15px;
    padding-right: 15px;
}
.btn-arrow-left {
    padding-right: 36px;
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}

/* SVG Stuff */
path {
  stroke: #DBE600;
  fill: #DBE600;
  stroke-opacity: .9;
  fill-opacity: 0.3;
}