{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "globals": {
    "React": true,
    "ReactDOM": true,
    "PropTypes": true,
    "ReactTooltip": true,
    "$": true,
    "L": true,
    "fetch": true,
    "cartodb": true,
    "MapComponent": true,
    "Sidebar": true
  },
  "rules": {
    "react/jsx-no-undef": [
      2,
      { "allowGlobals": true }
    ]
  }
}
